*{
    box-sizing: border-box;
    font-weight: 900;
    color: white;
}
body{
    height: 90vh;
    display: flex;
    width: 45%;
    margin: auto;
    align-items: center;
    background-color:cadetblue;
}
.container{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: auto;
    justify-content:center;
    background-color: #1a3f40;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
}

.show{
    width: 100%;    
    height: 2.5rem;
    display: flex;
    align-items: center;
    background-color: black;
}
.show h2{
    width: 85%;
    margin-left: 6px;
    font-size: 15px;
    font-family: cursive;
}
.container div,.container label{
    padding: 4px 0px;
}


input{
    text-align: center;
    border: none;
    width: 3rem;
    color: black;
    margin-left: 5px;
}

i{
    cursor: pointer;
}

input:active,input:focus{
    outline: none;
    cursor: pointer;
}

label{
    position: relative;
    text-align: justify;
}

input.setting{
    position: absolute;
    right: 0px;
} 

button{
    height: 3rem;
    font-size: 19px;
    background-color:darkslategray;
    cursor: pointer;
    border: none;
}
button:active,button:focus{
    outline: none;
}
button:active{

    background-color: rgba(184, 196, 209, 0.952) ;
}

/* button:hover{
    background-color: rgba(184, 196, 209, 0.952);
} */